<footer style="background: #363839" class="font-Titillium shadow">
  <div class="container p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 py-4">
      <div class="w-full lg:w-2/5">
        <div class="max-w-sm">
          <a href="#">
            <img
              class="w-auto h-20"
              src="/assets/images/logos/logo-gt-global-blanco.png"
              alt=""
            />
          </a>
        </div>
      </div>

      <div class="mt-6 lg:mt-0 lg:flex-1">
        <div
          class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-1"
        >
          <div>
            <h3 class="text-white uppercase text-sm font-semibold">
              Get in Touch
            </h3>
            <span
              class="block mt-2 text-sm text-gray-400 hover:underline cursor-pointer"
            >
              +52 (833) 259-97-72
            </span>
            <span
              class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline"
              >example@email.com</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="z-20 w-full p-4 bg-gray-900 shadow md:flex md:items-center md:justify-between md:p-6"
    style="background: #282a2b"
  >
    <span class="text-sm text-gray-300 sm:text-center"
      >© 2023 <a href="#" class="hover:underline">Aurelios</a>. All Rights
      Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-300 sm:mt-0">
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
