<header class="fixed shadow">
  <nav class="bg-white w-screen border-gray-200 font-Titillium">
    <div
      class="flex flex-wrap justify-between items-center mx-auto w-full px-4 md:px-6 py-2.5"
    >
      <a href="#" class="flex items-center">
        <img
          src="/assets/images/logos/logo-gtlogistics-1x.png"
          class="h-6 mr-3 sm:h-9"
          alt="Flowbite Logo"
        />
      </a>
      <button
        data-collapse-toggle="mega-menu-full"
        type="button"
        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="mega-menu-full"
        aria-expanded="false"
        (click)="onSetShowNavbar()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>

      <div
        id="mega-menu-full"
        class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1"
        [ngClass]="navbar ? 'show' : 'hidden'"
      >
        <ul
          class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:flex-row lg:space-x-10 lg:mt-0 lg:text-sm lg:font-medium lg:border-0 lg:bg-white"
        >
          <li>
            <a
              href="#"
              class="block text-base font-medium py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-success-200 lg:p-0"
              >Inicio</a
            >
          </li>

          <li>
            <button
              id="mega-menu-full-dropdown-button"
              data-collapse-toggle="mega-menu-full-dropdown"
              class="flex text-base font-medium items-center justify-between w-full py-2 pl-3 pr-4 text-gray-700 rounded lg:w-auto hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-success-200 lg:p-0"
              (click)="onSetShowDropdown()"
            >
              Servicios
              <svg
                class="w-5 h-5 ml-1"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>

          <li>
            <a
              href="#"
              class="block text-base font-medium py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-success-200 lg:p-0"
              >Nosotros</a
            >
          </li>

          <li>
            <a
              href="#"
              class="block text-base font-medium py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-success-200 lg:p-0"
              >Tecnología</a
            >
          </li>

          <li>
            <a
              href="#"
              class="block text-base font-medium py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-success-200 lg:p-0"
              >Noticias</a
            >
          </li>

          <li>
            <a
              href="#"
              class="block text-base font-medium py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-success-200 lg:p-0"
              >Contacto</a
            >
          </li>

          <li>
            <button
              type="button"
              data-dropdown-toggle="language-dropdown-menu"
              class="inline-flex items-center justify-center py-2 pl-3 pr-4 text-sm text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 lg:py-0.5"
              (click)="onSetShowLanguage()"
            >
              <svg
                class="w-5 h-5 mr-2 rounded-full fi fi-mx"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 3900 3900"
              ></svg>
              Español (MX)
            </button>
            <!-- Dropdown -->
            <div
              class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow absolute ease-in duration-500"
              id="language-dropdown-menu"
              [ngClass]="language ? 'show' : 'hidden'"
            >
              <ul class="py-2" role="none">
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    role="menuitem"
                  >
                    <div class="inline-flex items-center">
                      <svg
                        aria-hidden="true"
                        class="h-3.5 w-3.5 rounded-full mr-2 fi fi-mx"
                        xmlns="http://www.w3.org/2000/svg"
                        id="flag-icon-css-us"
                        viewBox="0 0 512 512"
                      ></svg>
                      Español (MX)
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    role="menuitem"
                  >
                    <div class="inline-flex items-center">
                      <svg
                        aria-hidden="true"
                        class="h-3.5 w-3.5 rounded-full mr-2 fi fi-us"
                        xmlns="http://www.w3.org/2000/svg"
                        id="flag-icon-css-us"
                        viewBox="0 0 512 512"
                      ></svg>
                      English (US)
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- SERVICIOS DROPDOWN -->
    <div
      id="mega-menu-full-dropdown"
      class="mt-1 border-gray-200 shadow-sm bg-gray-50 md:bg-white border-y ease-in-out"
      [ngClass]="dropdown ? 'show' : 'hidden'"
    >
      <div
        class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:px-6"
      >
        <ul>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
              <div class="font-semibold">Freight Forwarding</div>
              <span class="text-sm font-light text-gray-500"
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium, nostrum!</span
              >
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
              <div class="font-semibold">Logistic Outsourcing</div>
              <span class="text-sm font-light text-gray-500"
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium, nostrum!</span
              >
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
              <div class="font-semibold">Storage and Maneuvers</div>
              <span class="text-sm font-light text-gray-500"
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium, nostrum!</span
              >
            </a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
              <div class="font-semibold">Dangerous Goods</div>
              <span class="text-sm font-light text-gray-500"
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium, nostrum!</span
              >
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
              <div class="font-semibold">Custom services</div>
              <span class="text-sm font-light text-gray-500"
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium, nostrum!</span
              >
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
              <div class="font-semibold">Oil & Gas</div>
              <span class="text-sm font-light text-gray-500"
                >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium, nostrum!</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
